{% extends "base.html" %}

{% block analysis_box %}
  <div class="analysis_tools">
      {% block top_tool_area %}<div class="top_tool_area">
        <b>Fermi status</b><br>
        {% spaceless %}
        {% if fermi_authenticated %}
        <div class='green'>Authenticated as: <b>{{ fermi_uid }} </b></div>
        {% else %}
        <div class='red'>Not authenticated</div>
        {% endif %}
        {% endspaceless %}
        <form action="{% url 'remote_authenticate'%}" method="post" class="form">{% csrf_token %}
          <input class="form_text" type="text" name="username" placeholder="username"><br>
          <input class="form_text" type="password" name="password" placeholder="password"><br>
          <input type="submit" id="login_button" value="log in" title="Log in to Fermi to be able to submit jobs">
          <input type="hidden" name="redirect" value="{{ current_path }}">
        </form>
        
        {% if fermi_authenticated %}
        <script>
        $(".form").hide();
        $(document).ready(function() {	
        	$("#show").click(function() {
            	$(".form").show();
            	$("#show").hide();
        	});
   		 });
        </script>
        <a id="show" title="Click to login into Fermi with other user." href="javascript:void(0);">
        	<span style='display:inline-block' class="ui-icon ui-icon-person"></span> Change User</a>
        {% else %}
        <script>$(".form").show();</script>
        {% endif %}
        
      </div>
      {% endblock %}
      {% block page_specific_tools %}{% endblock %}
      <div class="tool_area">
        <b>Catalog</b><br>
        <ul>
          <li><a href="{% url 'catalog_experiments' instrument %}" title="See all experiments for this instrument">see experiments</a></li>
          {% spaceless %}
          {% if ipts_number and is_categorized %}
          <li><a href="{% url 'catalog_runs' instrument ipts_number%}" title="See all runs for this experiment">see {{ ipts_number }} runs</a></li>
          {% endif %}
          {% for expt in expt_list %}
            {% if not expt.is_uncategorized and expt.name|length > 0 %}
            <li><a href="{% url 'catalog_runs' instrument expt%}" title="See all runs for this experiment">see {{ expt }} runs</a></li>
            {% endif %}
          {% endfor %}
          {% endspaceless %}
        </ul>
      </div>
      <div class="tool_area">
        <b>Reduction</b><br>
        <ul>
          <li><a href="{% url 'reduction_home' instrument %}" title="Go to reduction home for this instrument">reduction home</a></li>
          {% block reduction_instrument_specific %}
          <li><a href="{% url 'configuration' instrument_name=instrument %}" title="Start a new configuration to use with multiple reductions">new configuration</a></li>
          <li><a href="{% url 'reduction' instrument %}" title="Start a new single reduction">new reduction</a></li>
           {% endblock %}
          {% if reduction_id %}
          <li><a href="{% url 'reduction_script' instrument reduction_id%}" title="See reduction script">see script</a></li>
          <li><a href="{% url 'reduction_py_reduction_script' instrument reduction_id%}" title="Download python script">download python</a></li>
          <li><a href="{% url 'reduction_xml_reduction_script' instrument reduction_id%}" title="Download Mantid xml file">download xml</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="tool_area">
        <b>Remote jobs</b><br>
        <ul>
          <li><a href="{% url 'reduction_jobs' instrument%}" title="See remote jobs">see all jobs</a></li>
		  {% if config_id %}
	      <li><a href="{% url 'configuration_submit' config_id=config_id instrument_name=instrument%}" title="Submit jobs for this configuration">submit jobs</a></li>
	      {% if existing_job_sets and existing_job_sets|length > 0 %}
		      {% for job in existing_job_sets %}
		      	<li><a href="{% url 'configuration_query' remote_set_id=job.id instrument_name=instrument%}" title="See job details">job set {{ job.id }}</a></li>
		      {% endfor %}
	      {% endif %}
          {% endif %}
          
      	  {% block jobs_instrument_specific %} {% endblock %}
          
          {% if reduction_id %}
	          <li><a href="{% url 'reduction_submit' instrument reduction_id%}" title="Submit this reduction job">submit this job</a></li>
	          {% if existing_jobs and existing_jobs|length > 0 %}
		          {% for job in existing_jobs %}
		          <li><a href="{% url 'reduction_job_details' instrument job.id %}" title="See job details">job {{ job.id }}</a></li>
		          {% endfor %}
	          {% endif %}
          {% endif %}
          {% if trans_id %}
          <li><a href="{% url 'remote_stop_transaction' trans_id %}?back_url={% url 'reduction_jobs' instrument %}" title="Delete this job and all the files associated with this transaction">delete this job</a></li>
          {% endif %}
        </ul>
      </div>
  </div>
{% endblock %}