{% extends "eqsans/base.html" %}
{% block header %}
<script>
    function get_icat_info(run_number, element_id) {
        $.ajax({ url: "{{ icat_url }}"+run_number+"/", 
                 success: function(data) { $('#'+element_id).attr('title', data.title); },
                 dataType: "json", timeout: 10000, cache: true });
    }
    $(function() {
      $("#submit_button").button();
      $("#execute_jobs_button").button();
    });
	
    /*
    Function called only once! It populates the autocomplete from a remote json.
    The filtering is made locally as the source is a local variable :)
    */
    $(function() {
        var jsonurl = "{% url 'catalog_runs_json' instrument=instrument ipts=config_form.experiment.value %}";
        var selector = '#id_vanadium_runs';
        if  ($(selector).is('*')) {
            set_autocomplete_ranged(selector,jsonurl);
        }
    });
	
    $(function() {
        var jsonurl = "{% url 'catalog_experiments_json' instrument=instrument %}";
        var selector = '#id_experiment';
        if  ($(selector).is('*')) {
            set_autocomplete(selector,jsonurl);
        }
    });
	
	/* if the user change the experiment number, the runs will be different!! */    
	$(function() {
	    $("#id_experiment").on( "autocompletechange", function(event,ui) {
	   		var jsonurl = "{% url 'catalog_runs_json' instrument=instrument ipts=12345 %}".replace(/12345/, $(this).val() );
	        var selector = '#id_vanadium_runs';
	        set_autocomplete(selector,jsonurl);
		});
	});
	
</script>

{% endblock %}

{% block content %}

<h2>Configuration and reduction parameters</h2>
		
<form action="" method="POST">{% csrf_token %}
  <div class='tiled_area'>
    <div class='flexible tile'>
    {{ config_form.as_p }}
    </div>
  </div>
  
  <div class='tiled_area'>
   <div class='flexible tile'>
   <a style='float:right' href='?extra=1'><span style='display:inline-block' class="ui-icon ui-icon-plusthick"></span> add a job</a>
      <p>
      {{ options_form.management_form }}
      </p>
      {% for form in options_form %}
        {{ form.as_p }}
      {% endfor %}
      <input id='submit_button' type="submit" value="update"/>
      {% if config_id %}<input title="Click to submit this list of reductions for execution" id="execute_jobs_button" type="button" value="submit" onclick='window.location.href = "{% url 'configuration_submit' config_id=config_id instrument_name=instrument%}"'/>{% endif %}
  </div>
 </div>
</form>
{% if message %}<div class='green'><b>{{ message }} </b></div>{% endif %}

<script id="source" language="javascript" type="text/javascript">
 $(document).ready(function() {
    {% spaceless %}
    {% if config_form.raw_vanadium.value %} get_icat_info('{{ config_form.raw_vanadium.value }}', '{{ config_form.raw_vanadium.id_for_label }}'); {% endif %}
    {% endspaceless %}
    $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });

   
</script>
{% endblock %}
