{% extends "seq/base.html" %}
{% block header %}
<script>

    function get_icat_info(run_number, element_id) {
  		// run_number sometimes is None, adding this to avoid unecessary HTTP calls
    	if (run_number && run_number != "None" ) {
	        $.ajax({ url: "{{ icat_url }}"+run_number+"/", 
	                 success: function(data) {
	                        $('#'+element_id).replaceWith("<span class='subtitle' id='"+element_id+"'>"+data.title+"</span>");
	                      }
	                 , dataType: "json", timeout: 30000, cache: true});
        }
    }
    
    $(function() {
      $("#tabs").tabs({ active: 2 });
      $("#submit_reduction_button").button();
      $("#execute_job_button").button();
    });
    
        /*
    Function called only once! It populates the autocomplete from a remote json.
    The filtering is made locally as the source is a local variable :)
    */

    $(function() {
        var jsonurl = "{% url 'catalog_runs_json' instrument=instrument ipts=options_form.experiment.value %}";
        var selector = '.runcomplete input';
        if  ($(selector).is('*')) {
            set_autocomplete(selector,jsonurl);
        }
    });
    
    $(function() {
        var jsonurl = "{% url 'catalog_experiments_json' instrument=instrument %}";
        var selector = '.experimentcomplete input';
        if  ($(selector).is('*')) {
            set_autocomplete(selector,jsonurl);
        }
    });
    
	/* if the user change the experiment number, the runs will be different!! */    
	$(function() {
	    $(".experimentcomplete input").on( "autocompletechange", function(event,ui) {
	   		var jsonurl = "{% url 'catalog_runs_json' instrument=instrument ipts=12345 %}".replace(/12345/, $(this).val() );
	   		console.log(jsonurl)
	        var selector = '.runcomplete input';
	        set_autocomplete(selector,jsonurl);
		});
	});
	
	/*
	Function to transform a range into a list
	*/
	function hyphen_range(str) {
	    var out = [],
	        chunks = str.split(',')
	        l = chunks.length;
	
	    for ( i = 0; i < l; i++ ) {
	        populate(out, chunks[i]);
	    }
	
	    return out.sort(function(a,b){return a - b});
	
	    function populate (list, chunk) {
	        var ends = chunk.split('-');
	
	        if ( ends.length == 1 ) return list.push(+chunk);
	        
	        if ( ends[0] > ends[1] ) flip(ends);
	
	        while ( ends[0] <= ends[1] ) {
	            list.push(+ends[0]);
	            ends[0]++;
	        }
	    }
	    
	    function flip (list) {
	        var temp = list[0];
	        list[0] = list[1];
	        list[1] = temp;
	    }
	}
	

    
</script>
{% endblock %}

{% block content %}
<h2>Reduction parameters for SEQ</h2>
<form action="" method="POST">{% csrf_token %}
  <div class='tiled_area'><div class='flexible tile'>
    <table class='property_table'>
      <tr><th>{{ options_form.reduction_name.label_tag }}</th><td class='long_input'>{{ options_form.reduction_name }}</td></tr>
      <tr><th title='Enter an experiment identifier or IPTS number'>{{ options_form.experiment.label_tag }}</th><td class='long_input experimentcomplete ui-widget'>{{ options_form.experiment }}</td></tr>
    </table>
  </div></div>
  <p>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Basic options</a></li>
      <li><a href="#tabs-2">Mask</a></li>
      <li><a href="#tabs-3">Data</a></li>
    </ul>
    <div id="tabs-1">
      <table cellspacing="0" class="property_table">
        <tbody>
          <tr><th>{{ options_form.grouping_file.label_tag }}</th><td>{{ options_form.grouping_file.errors }}{{ options_form.grouping_file }}</td></tr>
          
          <tr><th> Energy binning <br/>[% of E<sub>guess</sub>] </th> <td> 
      		<span {% if options_form.energy_binning_min.errors %}class='highlight_row' title='{{ options_form.energy_binning_min.errors }}'{% endif %}>
      		E<sub>min</sub> {{options_form.energy_binning_min }} </span> 
      		E<sub>step</sub> {{options_form.energy_binning_step }} 
      		E<sub>max</sub> {{options_form.energy_binning_max }} </td>
      	  </tr>
      	  
        </tbody>
      </table>
    </div>
    
    <div id="tabs-2">
      <h3>Mask:</h3>
      <table cellspacing="0" class="property_table">
        <tbody>
      	  <tr><th>Masked Bank</th><th>Masked Tube</th><th>Masked Pixel</th></tr>
      	  <tr>
      	  <td class='long_input' title="{{options_form.masked_bank1.help_text}}" >{{ options_form.masked_bank1.errors }}{{ options_form.masked_bank1 }}</td>
      	  <td class='long_input' title="{{options_form.masked_tube1.help_text}}" >{{ options_form.masked_tube1.errors }}{{ options_form.masked_tube1 }}</td>
      	  <td class='long_input' title="{{options_form.masked_pixel1.help_text}}" >{{ options_form.masked_pixel1.errors }}{{ options_form.masked_pixel1 }}</td>
      	  </tr>
      	  <tr>
      	  <td class='long_input' title="{{options_form.masked_bank2.help_text}}" >{{ options_form.masked_bank2.errors }}{{ options_form.masked_bank2 }}</td>
      	  <td class='long_input' title="{{options_form.masked_tube2.help_text}}" >{{ options_form.masked_tube2.errors }}{{ options_form.masked_tube2 }}</td>
      	  <td class='long_input' title="{{options_form.masked_pixel2.help_text}}" >{{ options_form.masked_pixel2.errors }}{{ options_form.masked_pixel2 }}</td>
      	  </tr>
      	  <tr>
      	  <td class='long_input' title="{{options_form.masked_bank3.help_text}}" >{{ options_form.masked_bank3.errors }}{{ options_form.masked_bank3 }}</td>
      	  <td class='long_input' title="{{options_form.masked_tube3.help_text}}" >{{ options_form.masked_tube3.errors }}{{ options_form.masked_tube3 }}</td>
      	  <td class='long_input' title="{{options_form.masked_pixel3.help_text}}" >{{ options_form.masked_pixel3.errors }}{{ options_form.masked_pixel3 }}</td>
      	  </tr>
      	  <tr>
      	  <td class='long_input' title="{{options_form.masked_bank4.help_text}}" >{{ options_form.masked_bank4.errors }}{{ options_form.masked_bank4 }}</td>
      	  <td class='long_input' title="{{options_form.masked_tube4.help_text}}" >{{ options_form.masked_tube4.errors }}{{ options_form.masked_tube4 }}</td>
      	  <td class='long_input' title="{{options_form.masked_pixel4.help_text}}" >{{ options_form.masked_pixel4.errors }}{{ options_form.masked_pixel4 }}</td>
      	  </tr>
     
        </tbody>
      </table>
    </div>
    
    <div id="tabs-3">
      <h3>Sample:</h3><br>
      <table cellspacing="0" class="property_table">
        <tbody>
          <tr><th>{{ options_form.data_files.label_tag }}</th><td class='long_input' title="{{options_form.data_files.help_text}}">{{ options_form.data_files.errors }}{{ options_form.data_files }} <span id='data_file_info'></span></td></tr>          
          <tr><th>{{ options_form.raw_vanadium.label_tag }}</th><td class='runcomplete ui-widget'>{{ options_form.raw_vanadium.errors }}{{ options_form.raw_vanadium }} <span id='raw_vanadium_info'></span></td></tr>
        </tbody>
      </table>
      <table cellspacing="0" class="property_table">
        <tbody>
          <div id='log'></div>
        </tbody>
      </table>
    </div>
  </div>
  <p>
    <input title="Click to apply your changes to this reduction" id="submit_reduction_button" type="submit" value="update"/>
    {% if reduction_id %}<input title="Click to submit this reduction for execution" id="execute_job_button" type="button" value="submit" onclick='window.location.href = "{% url 'reduction_submit_job' instrument reduction_id %}"'/>{% endif %}
  </p>
</form>
{% if message %}<div class='green'><b>{{ message }} </b></div>{% endif %}

<script type="text/javascript">

$(document).ready(function() {
    get_icat_info('{{ options_form.data_file.value }}','data_file_info');
    get_icat_info('{{ options_form.raw_vanadium.value }}','raw_vanadium_info');

    // enter submit blocker
    $(window).keydown(function(event){
      if(event.keyCode == 13) {
        event.preventDefault();
        return false;
      }
    });
});
	
	/*
	Form a regular expression put the run numbers in a table with description
	*/
	$( "#{{options_form.data_files.id_for_label}}" ).change(function() {
  		var value = $( this ).val();
  		var re = new RegExp("^[\\d\\-,]+$");
  		var OK = re.exec(value);  
        if (!OK)  
          	console.log(OK.input + " isn't a valid regex!");  
        else {
        	$( "#log" ).empty();
        	$( "#log" ).append( "<h3> Data files to be submited to the cluster:</h3>" );
            var value_arr = hyphen_range(value);
  			$.each(value_arr, function( index, value ) {
  				//alert( index + ": " + value );
  				$.ajax({ url: "{{ icat_url }}"+value+"/", 
	                 success: function(data) {
	                 	$( "#log" ).append( "<tr><th>"+ value + ":</th><td>" + data.title +"<td></tr>" );
	                 },
	                 dataType: "json", timeout: 30000, cache: true
	            });
	                 
  				
			});
		}
	});

</script>
{% endblock %}

