{% extends "seq/base.html" %}
{% block header %}
{% load reduction_tags %}

<script>

	$(function() {
      $("#tabs").tabs({ active: 1 });
      $("#submit_reduction_button").button();
      $("#execute_job_button").button();
      $("#cancel_button").button();
    });

    /*
    Function called only once! It populates the autocomplete from a remote json.
    The filtering is made locally as the source is a local variable :)
    */
    $(function() {
        var jsonurl = "{% url 'catalog_runs_json' instrument=instrument ipts=properties.experiment %}";
        var selector = "[id$='data_runs']";
        if  ($(selector).is('*')) {
            set_autocomplete_ranged(selector,jsonurl);
        }
    });
	
</script>
{% endblock %}

{% block content %}


<h2>Single Reduction Scan parameters for SEQ</h2>

<div id="tabs">
	<ul>
	  <li><a href="#tabs-0">Configuration properties</a></li>
	  <li><a href="#tabs-1">Scan</a></li>
	</ul>
 
<div id="tabs-0">
	<div class='tiled_area'>
	  <div class='flexible tile'>
		<h3>Reduction and Configuration properties:</h3>
		<table class='property_table'>
		  {% for key, value in properties.items|sortdic %}
		  	<tr id="id_{{key}}"><th>{{key}}</th><td>{{value}}</td></tr>
		  {% endfor %}
		</table>
	  </div>
	  <p>
	  	<a href="{% url 'configuration_options' config_id=properties.configuration_id instrument_name=instrument%}" >Click to edit this configuration.</a>
	  </p>
	</div>
	
</div>

<div id="tabs-1">
<p>
</p>

<form action="" method="POST" id="form">{% csrf_token %}
  <div class='tiled_area'>
    <div class='flexible tile'>
      <table class='property_table'>
        <tbody>
          {{ options_form.as_table }}
        </tbody>
      </table>
    </div>
  </div>
  <p>
    <input title="Click to apply your changes to this reduction" id="submit_reduction_button" type="submit" value="update"/>
    {% if reduction_id %}
    <input title="Click to submit this reduction for execution" id="execute_job_button" type="button" value="submit" onclick='window.location.href = "{% url 'reduction_submit_job' instrument reduction_id %}"'/>
    <input title="Click to cancel your edits" id="cancel_button" type="button" value="cancel" onclick='window.location.href = "{% url 'reduction_options' reduction_id=reduction_id instrument_name=instrument%}"'/>
    {% else %}
    <input title="Click to cancel your edits" id="cancel_button" type="button" value="cancel" onclick='window.location.href = "{% url 'reduction' instrument_name=instrument%}"'/>
    {% endif %}
  </p>
</form>
</div>
</div>



<script type="text/javascript">

/*
 function to transform a ranged fields into an array
 */
function getNumbers(stringNumbers) {

  var nums = [];
  var entries = stringNumbers.split(',');
  var length = entries.length;

  //for variabes that don't, comma separated
  var i, entry, low, high, range;

  for (i = 0; i < length; i++) {
    entry = entries[i];

    //shortcut for testing a -1
    if (!~entry.indexOf('-')) {
      //absence of dash, must be a number
      //force to a number using +
      nums.push(+entry);
    } else {
      //presence of dash, must be range
      range = entry.split('-');

      //force to numbers
      low = +range[0];
      high = +range[1];

      //XOR swap, no need for an additional variable. still 3 steps though
      //http://en.wikipedia.org/wiki/XOR_swap_algorithm
      if (high < low) {
        low = low ^ high;
        high = low ^ high;
        low = low ^ high;
      }

      //push for every number starting from low
      while (low <= high) {
        nums.push(low++);
      }
    }
  }

  //edit to sort list at the end
  return nums.sort(function(a, b) {
    return a - b;
  });
}

/**
  Append to selector the icat description for runs in the values string
  Values is ranged string
  **/
function get_icat_info(selector, values) {
  var runs_int = getNumbers(values);
  for (i = 0; i < runs_int.length; i++) {
    var run_number = runs_int[i];
    $.ajax({
      url: "{{ icat_url }}" + run_number + "/",
      success: function(data) {
        var text = $("<div />", {
          text: data.run_number + ': ' + data.title,
          class: 'temporary'
        });
        console.log(run_number + ": " + data.title);
        selector.parent().append(text);
      },
      dataType: "json",
      timeout: 30000,
      cache: true
    });

  }
}


$(document).ready(function() {

  get_icat_info($("#id_vanadium_runs"), $("#id_vanadium_runs td").text());
  get_icat_info($("#id_data_runs"), $("#id_data_runs").val());

  // enter submit blocker
  $(window).keydown(function(event) {
    if (event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});


$( "#id_data_runs" ).change(function() {
  $(".temporary").remove();
  get_icat_info($("#id_data_runs"), $("#id_data_runs").val());
  get_icat_info($("#id_vanadium_runs"), $("#id_vanadium_runs td").text());
});

// hide submit button when the form is changed
$('#cancel_button').hide();
$("#form :input").change(function() {
  $('#execute_job_button').hide();
  $('#cancel_button').show();
});


</script>
{% endblock %}

