{% extends "seq/base.html" %}
{% load staticfiles %}
{% block header %}
<script>
    function get_icat_info(run_number, element_id) {
        $.ajax({ url: "{{ icat_url }}"+run_number+"/", 
                 success: function(data) { $('#'+element_id).attr('title', data.title); },
                 dataType: "json", timeout: 10000, cache: true });
    }
    	
	$(function() {
      $("#tabs").tabs({ active: 3 });
      $("#submit_button").button();
      $("#execute_jobs_button").button();
      $("#cancel_button").button();
    });
    
    /*
    Function called only once! It populates the autocomplete from a remote json.
    The filtering is made locally as the source is a local variable :)
    */
    $(function() {
        var jsonurl = "{% url 'catalog_runs_json' instrument=instrument ipts=config_form.experiment.value %}";
        var selector = "#id_vanadium_runs,[id$='data_runs']";
        if  ($(selector).is('*')) {
            set_autocomplete_ranged(selector,jsonurl);
        }
    });
	
    $(function() {
        var jsonurl = "{% url 'catalog_experiments_json' instrument=instrument %}";
        var selector = '#id_experiment';
        if  ($(selector).is('*')) {
            set_autocomplete(selector,jsonurl);
        }
    });
	
	/* if the user change the experiment number, the runs will be different!! */    
	$(function() {
	    $("#id_experiment").on( "autocompletechange", function(event,ui) {
	   		var jsonurl = "{% url 'catalog_runs_json' instrument=instrument ipts=12345 %}".replace(/12345/, $(this).val() );
	        var selector = "#id_vanadium_runs,[id$='data_runs']";
	        set_autocomplete_ranged(selector,jsonurl);
		});
	});
	
	
    /*
    Dynamic formset generation
    */
    function updateElementIndex(el, prefix, ndx) {
		var id_regex = new RegExp('(' + prefix + '-\\d+)');
		var replacement = prefix + '-' + ndx;
		if ($(el).attr("for")) {
			$(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
		}
		if (el.id) {
			//console.log(el.id);
		 	el.id = el.id.replace(id_regex, replacement);
		 	//console.log(el.id);
		}
		if (el.name) el.name = el.name.replace(id_regex, replacement);
	}
 
    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        var row = $('.dynamic-form-'+prefix+':first').clone(true).get(0);
        $(row).removeAttr('id').insertAfter($('.dynamic-form-'+prefix+':last')).children('.hidden').removeClass('hidden');
        // For the last row
        //$(row).children().not(':last').children().each(function() {
        $(row).find(":input,label,a,:selected").each(function() {
        	// iterates every field in the form
        	// i.e. the children of th and td: label, input, a
    	    updateElementIndex(this, prefix, formCount);
    	    $(this).val('');
        });
        $(row).find('.delete-row').click(function() {
    	    deleteForm(this, prefix);
        });
        $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
        return false;
    }
  
    function deleteForm(btn, prefix) {
        $(btn).parents('.dynamic-form-'+prefix).remove();
        var forms = $('.dynamic-form-'+prefix);
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
    	    $(forms.get(i)).children().not(':last').children().each(function() {
    	        updateElementIndex(this, prefix, i);
    	    });
        }
        return false;
    }
    
    
    
    $(function () {
        $('.add-row-mf').click(function() {
    	    return addForm(this, 'mf');
        });
        $('.delete-row-mf').click(function() {
    	    return deleteForm(this, 'mf');
        })
        $('.add-row-sf').click(function() {
    	    return addForm(this, 'sf');
        });
        $('.delete-row-sf').click(function() {
    	    return deleteForm(this, 'sf');
        })
    })

    
</script>


{% endblock %}

{% block content %}

<h2>Batch Reduction for {{instrument|upper}}</h2>

<form id="global_form" action="" method="POST">
  {% csrf_token %}
  
  {# Hidden fields! #}
  {{ config_form.processed_vanadium_filename }}
  
  <div class='tiled_area'>
    <div class='flexible tile'>
      <table class='property_table'>
        <tr><th title='This batch description'>Batch description</th><td class='long_input'>{{ config_form.reduction_name }}{{ config_form.reduction_name.errors }}</td></tr>
        <tr><th title='Enter an experiment identifier or IPTS number'>{{ config_form.experiment.label_tag }}</th><td class='long_input ui-widget'>{{ config_form.experiment }}{{ config_form.experiment.errors }}</td></tr>
      </table>
    </div>
  </div>
  
  <div id="tabs">
    <ul>
      <li><a href="#tabs-0">Defaults</a></li>
      <li><a href="#tabs-1">Calibration</a></li>
      <li><a href="#tabs-2">Masking</a></li>
      <li><a href="#tabs-3">Data</a></li>
    </ul>
    
    <div id="tabs-0">
      <table cellspacing="0" class="property_table">
        <tbody>
          <tr><th title='{{ config_form.filter_bad_pulses.help_text }}'>{{ config_form.filter_bad_pulses.label_tag }}</th><td>{{ config_form.filter_bad_pulses.errors }}{{ config_form.filter_bad_pulses }}</td></tr>
          <tr><th title='{{ config_form.save_format.help_text }}'>{{ config_form.save_format.label_tag }}</th><td>{{ config_form.save_format.errors }}{{ config_form.save_format }}</td></tr>
      	  
        </tbody>
      </table>
    </div>
    
    <div id="tabs-1">
      <table cellspacing="0" class="property_table">
        <tbody>
          <tr><th title='{{ config_form.vanadium_units.help_text }}'>{{ config_form.vanadium_units.label_tag }}</th><td>{{ config_form.vanadium_units.errors }}{{ config_form.vanadium_units }}</td></tr>
          <tr><th title='{{ config_form.normalized_calibration.help_text }}'>{{ config_form.normalized_calibration.label_tag }}</th><td>{{ config_form.normalized_calibration.errors }}{{ config_form.normalized_calibration }}</td></tr>
          <tr><th title='{{ config_form.vanadium_runs.help_text }}'>{{ config_form.vanadium_runs.label_tag }}</th><td class='long_input'>{{ config_form.vanadium_runs.errors }}{{ config_form.vanadium_runs }}</td></tr>
          <tr>
            <th title='{{ config_form.vanadium_min.help_text }}'>{{ config_form.vanadium_min.label_tag }}</th><td>{{ config_form.vanadium_min.errors }}{{ config_form.vanadium_min }}</td>
            <th title='{{ config_form.vanadium_max.help_text }}'>{{ config_form.vanadium_max.label_tag }}</th><td>{{ config_form.vanadium_max.errors }}{{ config_form.vanadium_max }}</td>
          </tr>
        </tbody>
      </table>
      <h3>Median Detector Test:</h3>
      <table cellspacing="5" class="property_table">
        <tbody>
          <tr>
            <th title='{{ config_form.low_counts.help_text }}'>{{ config_form.low_counts.label_tag }}</th><td>{{ config_form.low_counts.errors }}{{ config_form.low_counts }}</td>          
            <th title='{{ config_form.high_counts.help_text }}'>{{ config_form.high_counts.label_tag }}</th><td>{{ config_form.high_counts.errors }}{{ config_form.high_counts }}</td>
          </tr>
          <tr>
            <th title='{{ config_form.low_outlier.help_text }}'>{{ config_form.low_outlier.label_tag }}</th><td>{{ config_form.low_outlier.errors }}{{ config_form.low_outlier }}</td>
            <th title='{{ config_form.high_outlier.help_text }}'>{{ config_form.high_outlier.label_tag }}</th><td>{{ config_form.high_outlier.errors }}{{ config_form.high_outlier }}</td>
          </tr>
          <tr>
            <th title='{{ config_form.median_test_correct_for_solid_angle.help_text }}'>{{ config_form.median_test_correct_for_solid_angle.label_tag }}</th><td>{{ config_form.median_test_correct_for_solid_angle.errors }}{{ config_form.median_test_correct_for_solid_angle }}</td>
            <th title='{{ config_form.median_test_low.help_text }}'>{{ config_form.median_test_low.label_tag }}</th><td>{{ config_form.median_test_low.errors }}{{ config_form.median_test_low }}</td>
            <th title='{{ config_form.median_test_high.help_text }}'>{{ config_form.median_test_high.label_tag }}</th><td>{{ config_form.median_test_high.errors }}{{ config_form.median_test_high }}</td>
          </tr>        
          <tr><th title='{{ config_form.error_bar_criterion.help_text }}'>{{ config_form.error_bar_criterion.label_tag }}</th><td>{{ config_form.error_bar_criterion.errors }}{{ config_form.error_bar_criterion }}</td></tr>
          <tr><th title='{{ config_form.median_test_levels_up.help_text }}'>{{ config_form.median_test_levels_up.label_tag }}</th><td>{{ config_form.median_test_levels_up.errors }}{{ config_form.median_test_levels_up }}</td></tr>
        </tbody>
      </table>
    </div>
    
    <div id="tabs-2">
      <h3>Angle Mask:</h3>
      <table cellspacing="5" class="property_table">
        <tbody>
          <tr>
            <th title='{{ config_form.mask_angle_min.help_text }}'>{{ config_form.mask_angle_min.label_tag }}</th><td>{{ config_form.mask_angle_min.errors }}{{ config_form.mask_angle_min }}</td>
            <th title='{{ config_form.mask_angle_max.help_text }}'>{{ config_form.mask_angle_max.label_tag }}</th><td>{{ config_form.mask_angle_max.errors }}{{ config_form.mask_angle_max }}</td>
          </tr>     
        </tbody>
      </table>
      <h3>Banks, Tube or Pixels Mask:</h3>
      <table cellspacing="5" class="property_formset_table" id='mask_form_table'>
        <tbody>
          {% for form in masks_form.forms %}
          <tr id="{{ form.prefix }}-row" class="dynamic-form-mf">
            <td{% if forloop.first %} class="hidden"{% endif %}>{{ form.operand }}</td>
            <th title='{{ form.bank.help_text }}'>{{ form.bank.label_tag }}</th><td>{{ form.bank.errors }}{{ form.bank }}</td>
            <th title='{{ form.tube.help_text }}'>{{ form.tube.label_tag }}</th><td>{{ form.tube.errors }}{{ form.tube }}</td>
            <th title='{{ form.pixel.help_text }}'>{{ form.pixel.label_tag }}</th><td>{{ form.pixel.errors }}{{ form.pixel }}</td>
            <td{% if forloop.first %} class="hidden"{% endif %}>
    	          <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row-mf"><span style='display:inline-block' class="ui-icon ui-icon-minusthick"></span></a>
    	    </td>
          </tr>
          {% endfor %}
          <tr>
    	     <td colspan="4"><a href="javascript:void(0)" class="add-row-mf"><span style='display:inline-block' class="ui-icon ui-icon-plusthick"></span></a></td>
    	  </tr>
        </tbody>
      </table>
      {{ masks_form.management_form }}
    </div>
    
    <div id="tabs-3">
      <h3>Sample sets </h3><br>
      {% for form in scans_form.forms %}
      <div id="{{ form.prefix }}-row"  class="dynamic-form-sf" >
      <table cellspacing="5" class="property_formset_table" id='scan_form_entry'>
        <tbody>
          <tr><td{% if forloop.first %} class="hidden"{% endif %}>{{ form.operand }}</td><tr>
          {{ form.as_table }}
        </tbody>
      </table>
      <p{% if forloop.first %} class="hidden"{% endif %}>
         <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row-sf"><span style='display:inline-block' class="ui-icon ui-icon-minusthick"></span>Delete this scan...</a>
      </p>
      </div>
      {% endfor %}
      <p><a href="javascript:void(0)" class="add-row-sf"><span style='display:inline-block' class="ui-icon ui-icon-plusthick"></span>Add another scan..</a></p>
      {{ scans_form.management_form }}
    </div>
    
  </div>
  <p>
    <input id='submit_button' type="submit" value="update"/>
    {% if config_id %}
    <input title="Click to submit this list of reductions for execution" id="execute_jobs_button" type="button" value="submit" onclick='window.location.href = "{% url 'seq:configuration_submit' config_id=config_id %}"'/>
    <input title="Click to cancel your edits" id="cancel_button" type="button" value="cancel" onclick='window.location.href = "{% url 'configuration_options' config_id=config_id instrument_name=instrument%}"'/>
    {% else %}
    <input title="Click to cancel your edits" id="cancel_button" type="button" value="cancel" onclick='window.location.href = "{% url 'configuration' instrument_name=instrument%}"'/>
    {% endif %}
    
  </p>
  
</form>

{% if message %}<div class='green'><b>{{ message }} </b></div>{% endif %}
{% if error_message %}<div class='red'><b>{{ error_message }} </b></div>{% endif %}

<script id="source" language="javascript" type="text/javascript">
 $(document).ready(function() {

    $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });
    
    // Add a star next to the mandatory fields
    $('#tabs-0,#tabs-1,#tabs-2,.required').find("label").parent().parent().append("<span style='display:inline-block' class='ui-icon ui-icon-star'></span>")

	// hide submit button when the form is changed    
  $('#cancel_button').hide();
  $("#global_form :input").change(function() {
  		$('#execute_jobs_button').hide();
  		$('#cancel_button').show();
  });
</script>
{% endblock %}
